@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 80px;
  padding-right: 80px;
}

div.logo {
  font-size: 1.6rem;
  margin: 0.5rem;
  color: #3f3d56;
  font-weight: 900;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  color: #c6c2d9;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-links li:hover {
  border-radius: 3px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #3f3d56;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 50px;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Hero Area Styling */

div.hero-area {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
}

div.hero-heading h1 {
  color: #3f3d56;
  font-size: 3.5rem;
  font-weight: 900;
  margin-top: 20px;
}

div.hero-heading p {
  color: #c6c2d9;
  margin-top: 4px;
  font-size: 1.2rem;
}

div.button {
  margin-top: 30px;
}

div.button button {
  background-color: #29d2d0;
  color: #fff;
  font-size: 1rem;
  border-radius: 50px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  outline: none;
}

div.hero-image img {
  width: 550px;
  height: 350px;
}

@media (max-width: 700px) {
  div.hero-area {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }

  div.hero-heading h1 {
    font-size: 3rem;
    margin-top: 30px;
  }

  div.hero-heading p {
    font-size: 1rem;
  }

  div.hero-image img {
    width: 400px;
    height: 250px;
  }

  div.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}

/* Hero Form Area */
div.hero-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 50px;
}

div.hero-bg {
  background-color: #3a3055;
  padding: 10px 30px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

div.hero-form input {
  padding: 5px 40px;
  width: 65%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #c6c2d9;
  outline: none;
  color: #3f3d56;
  font-size: 1rem;
  font-weight: 900;
}

div.hero-form button {
  background-color: #29d2d0;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 40px;
  height: 50px;
  border: none;
  font-weight: 900;
  cursor: pointer;
  margin-left: 20px;
  outline: none;
}

@media (max-width: 700px) {
  div.hero-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }

  div.hero-bg {
    padding: 10px 25px;
    width: 100%;
    height: 60px;
  }

  div.hero-form input {
    padding: 5px 20px;
    width: 55%;
    height: 30px;
    font-size: 0.7rem;
  }

  div.hero-form button {
    font-size: 0.7rem;
    padding: 5px 20px;
    height: 30px;
    outline: none;
  }
}

/* Statistics Area */
div.statistics {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: #f0f1f6;
}

div.statistics-heading h2 {
  margin-bottom: 15px;
  color: #3f3d56;
  font-size: 2.3rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.statistics-heading p {
  color: #c6c2d9;
  font-size: 1.1rem;
  text-align: center;
}

div.statistics-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

div.boxes {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

div.box1 {
  background: #fff;
  padding: 10px 30px;
  width: 380px;
  height: 250px;
  position: relative;
}

div.box2 {
  background: #fff;
  padding: 10px 30px;
  width: 380px;
  height: 250px;
  margin-top: 30px;
  position: relative;
}

div.box3 {
  background: #fff;
  padding: 10px 30px;
  width: 380px;
  height: 250px;
  margin-top: 60px;
  position: relative;
}

div.circle {
  background: #3a3055;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  position: absolute;
  top: -35px;
}

div.rectangle {
  background: #29d2d0;
  width: 30px;
  height: 6px;
  position: absolute;
  left: 23.7em;
  top: 120px;
}

div.heading {
  margin-top: 70px;
}

div.heading h3 {
  font-size: 1.2rem;
  color: #3a3055;
  font-weight: 900;
}

div.heading p {
  font-size: 1rem;
  color: #c6c2d9;
  margin-top: 15px;
  font-weight: 500;
}

@media (max-width: 700px) {
  div.statistics {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }

  div.statistics-heading h2 {
    margin-bottom: 15px;
    font-size: 2rem;
  }

  div.statistics-heading p {
    font-size: 0.8rem;
  }

  div.boxes {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  div.box1 {
    margin-top: 30px;
  }

  div.box2 {
    margin-top: 30px;
  }

  div.rectangle {
    display: none;
  }
}

/* Links Area */
div.links {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #3a3055;
  display: flex;
  flex-direction: column;
}

div.links-heading,
div.links-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.links-heading h4 {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 900;
}

div.links-btn {
  margin: 30px;
}

div.links-btn button {
  background-color: #29d2d0;
  color: #fff;
  font-size: 1rem;
  border-radius: 50px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 700px) {
  div.links-btn button {
    font-size: 0.8rem;
    padding: 15px 40px;
    outline: none;
  }
}

/* Footer Area */
div#footer {
  background: #211e25;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 20px;
}

div.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

div.footer-logo h1 {
  font-size: 2rem;
  color: #c6c2d9;
  font-weight: 900;
}

div.footer-links li {
  list-style: none;
  margin: 15px;
}

div.footer-links a {
  text-decoration: none;
  color: #c6c2d9;
  font-size: 0.8rem;
}

div.footer-links a:hover {
  color: #29d2d0;
}

div.footer-social-media i {
  margin: 5px;
  color: #c6c2d9;
  padding: 5px;
  border-radius: 10px;
}

div.footer-social-media i:hover {
  color: #29d2d0;
}

@media (max-width: 700px) {
  div#footer {
    padding-left: 30px;
    padding-top: 50px;
  }

  div.footer-logo h1 {
    font-size: 1.5rem;
  }

  div.footer-links li {
    margin: 10px;
  }

  div.footer-links a {
    font-size: 0.7rem;
  }

  div.footer-container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}
