@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 70px;
  padding-right: 70px;
}

div.logo {
  font-size: 1.6rem;
  margin: 0.5rem;
  color: #3f3d56;
  font-weight: 900;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  color: #c6c2d9;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-links li:hover {
  border-radius: 3px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #3f3d56;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Hero Area Styling */

div.hero-area {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
}

div.hero-heading h1 {
  color: #3f3d56;
  font-size: 3.5rem;
  font-weight: 900;
  margin-top: 20px;
}

div.hero-heading p {
  color: #c6c2d9;
  margin-top: 4px;
  font-size: 1.3rem;
}

div.button {
  margin-top: 30px;
}

div.button button {
  background-color: #29d2d0;
  color: #fff;
  font-size: 1rem;
  border-radius: 50px;
  padding: 15px 40px;
  border: none;
}

div.hero-image img {
  width: 550px;
  height: 350px;
}

@media (max-width: 700px) {
  div.hero-area {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }

  div.hero-heading h1 {
    font-size: 3rem;
    margin-top: 30px;
  }

  div.hero-heading p {
    font-size: 1rem;
  }

  div.hero-image img {
    width: 400px;
    height: 250px;
  }

  div.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}
